// * CUSTOMIZE BOOTSTRAP colors
$primary: #9333ea;
$secondary: #64748b;
$success: #10b981;
$info: #06b6d4;
$warning: #fbbf24;
$danger: #e11d48;
$light: #f1f5f9;
$dark: #1e293b;

// Import Bootstrap SCSS
@import 'bootstrap/scss/bootstrap';
